$main-color: black;
$link-color: black;
$link-hover-color: pink;
$background-color: #777;
$negative-background-color: #777;
$standard-box-shadow-color: black;
$standard-box-shadow: 0px 0px 10px 0px $standard-box-shadow-color;
$background-color-expanded: rgba(255,255,255,.5);
$background-color-expanded-more: rgba(255,255,255,.7);

$phone-min: 480px;
$tablet-min: 660px;
$desktop-min: 950px;
$background-color-basic: rgba(255,255,255,0);
$small: 6px;
$middle: 10px;
$big: 20px;


$font-s: 10px;
$font-m: 12px;
$font-l: 20px;
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Pacifico');

$big-font: 'Roboto', sans-serif;


$description-font: red;

body {
	font-family:$big-font;
}

body {
	background: url('../img/sample.jpg') no-repeat center center fixed; 
		  -webkit-background-size: cover;
		  -moz-background-size: cover;
		  -o-background-size: cover;
		  background-size: cover;
}

.menu {
	width: 100%;
    display: block;
    position: relative;
    color: $main-color;
    transition: padding .4s, opacity .4s;
    padding-left: 20px;
    @media screen and (min-width: $tablet-min) {
        font-size: 20px;
        
    }
    font-size: 16px;

    font-family: $big-font;
    cursor: pointer;
    &-more {
        color: slategray;
        
        visibility: hidden;
        max-height: 0px;
        opacity: 0;
        transition: opacity 1s, transform 1s;
    }
    &-background { 
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0);
        transition: all 1s;
    }
    &-container {
        position:absolute;
        width: 100%;
        top: 0;
        @media screen and (min-width: $tablet-min) {
           width: 50%;
           top: 20%;
        }
        right: 0;
        
    }
    a {
    	color: $link-color;
    	text-decoration-style: none;
    }
    &-basic {
        padding-top: 16px;
        padding-bottom: 16px;
        @media screen and (min-width: $tablet-min) {
           padding-top: 0;
           padding-bottom: 0;
        }
   		background: $background-color-basic;
    	&:hover {
	    	.menu-content {
                margin-left: 0;
				visibility: visible;
	    		opacity: 1;
	    	}
	    	//padding-left: 40px;
    		background: $background-color-expanded;
		}
    }
    &-expanded {
        padding-top: 16px;
        padding-bottom: 16px;
        @media screen and (min-width: $tablet-min) {
           padding-top: 0;
           padding-bottom: 0;
        }
    	background: $background-color-expanded-more;
    	padding-left: 25px;
		.menu-content {
            margin-left: 0;
			visibility: visible;
    		opacity: 1;
    	}
        .menu-more {
            visibility: visible;
            opacity: 1;
            max-height: 200px;
            font-size: 20px;
        }
    }
    &-content {
        transition: margin .4s, opacity .4s;
    	opacity: 0;
    	margin-left: 5px;
    	visibility: hidden;
    }
}

.logo {
    font-family: 'Pacifico', cursive;
    font-size: 40px;
    margin-bottom: 10px;
    margin-left: 20px;
    cursor: default;
    user-select: none;
    transition: color .3s;
    display: inline-block;
    &:hover {
        color: green;
    }
}

.selected {
    background-color: blue;
}

.svg-standard {
    height: 50px;
    margin: 10px;
    transition: transform .1s;
    &:hover {
        transform:translateY(-2px);
    }
}

ul {
    padding-left: 0;
    &>li {
        @media screen and (min-width: $tablet-min) {
            border-bottom: none;
        }
        &:first-of-type{
            @media screen and (min-width: $tablet-min) {
                border-top: none;
            }
            border-top: 1px solid grey;
        }
        border-bottom: 1px solid grey;
    }
}




