@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Pacifico");
body {
  font-family: "Roboto", sans-serif; }

body {
  background: url("../img/sample.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.menu {
  width: 100%;
  display: block;
  position: relative;
  color: black;
  transition: padding .4s, opacity .4s;
  padding-left: 20px;
  font-size: 26px;
  font-family: "Roboto", sans-serif; }
  .menu-more {
    visibility: hidden;
    height: 0px;
    opacity: 0;
    transition: opacity 1s; }
  .menu-background {
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    transition: all 1s; }
  .menu-container {
    position: absolute;
    width: 50%;
    right: 0;
    top: 20%; }
  .menu a {
    color: black;
    text-decoration-style: none; }
  .menu-basic {
    background: rgba(255, 255, 255, 0); }
    .menu-basic:hover {
      background: rgba(255, 255, 255, 0.5); }
      .menu-basic:hover .menu-content {
        margin-left: 0;
        visibility: visible;
        opacity: 1; }
  .menu-expanded {
    background: rgba(255, 255, 255, 0.7);
    padding-left: 25px; }
    .menu-expanded .menu-content {
      margin-left: 0;
      visibility: visible;
      opacity: 1; }
    .menu-expanded .menu-more {
      visibility: visible;
      opacity: 1;
      height: auto; }
  .menu-content {
    transition: margin .4s, opacity .4s;
    opacity: 0;
    margin-left: 5px;
    visibility: hidden; }
    .menu-content-more {
      position: relative;
      transition: padding .4s, opacity .4s;
      visibility: hidden;
      top: -28px;
      opacity: 0;
      height: 0; }
      .menu-content-more-visible {
        top: 0px;
        visibility: visible;
        opacity: 1;
        height: auto; }

.logo {
  font-family: 'Pacifico', cursive;
  font-size: 40px;
  margin-bottom: 10px;
  margin-left: 20px;
  cursor: default;
  user-select: none;
  transition: color .3s;
  display: inline-block; }
  .logo:hover {
    color: green; }

.selected {
  background-color: blue; }

.svg-standard {
  height: 100px;
  margin: 10px;
  transition: transform .3s; }
  .svg-standard:hover {
    transform: translateY(-4px); }
